*{
    text-align: center;
    font-family: "Kanit", sans-serif;
}

body{
    margin: 0;
}

#area-marcador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.2rem solid black;
    width: 100%;
    margin: auto;
}